{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans mon blog !</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque corporis nam perspiciatis tenetur veniam! A
    culpa eos excepturi provident quasi recusandae rem soluta voluptas? A aliquam atque aut consectetur debitis
    explicabo impedit, incidunt ipsam itaque magnam nemo recusandae sint?</p><p>Accusantium adipisci amet architecto
    assumenda, at blanditiis dicta dolor dolorem doloremque dolores et fugit inventore itaque laborum minus nostrum
    officia perferendis praesentium quae quibusdam quidem quisquam repellat rerum sit totam unde voluptas voluptate
    voluptates, voluptatibus voluptatum. Mollitia perferendis suscipit tempora?</p><p>Aperiam asperiores aut
    consectetur, consequatur deserunt ea earum error esse est eveniet excepturi expedita explicabo ipsa, magnam
    molestiae, natus obcaecati quam quos repellendus sunt. Amet atque autem consequuntur dicta dolor, dolores error
    ipsam itaque mollitia natus omnis rerum sunt voluptatem.</p><p>Adipisci aperiam architecto consequatur consequuntur
    delectus dignissimos dolor doloribus dolorum, est facilis iste magni provident quaerat quas quibusdam quis, tempora
    tempore unde velit veniam! Consectetur et facere facilis fugiat hic, ipsum laboriosam quibusdam repellat tempore
    vitae! Doloribus eligendi exercitationem tempore.</p>
{% endblock %}